<div
  style="padding: 10px;"
>
  <label
    class="sky-control-label"
  >
    Theme:
    <sky-e2e-theme-selector></sky-e2e-theme-selector>
  </label>
</div>

<div
  class="sky-icon-stack-demo"
>
  <sky-icon-stack
    [baseIcon]="{
      icon: 'circle-solid',
      iconType: 'skyux'
    }"
    [topIcon]="{
      icon: 'help-i',
      iconType: 'skyux'
    }"
  >
  </sky-icon-stack>
  <sky-icon-stack
    size="xs"
    [baseIcon]="{
      icon: 'circle-solid',
      iconType: 'skyux'
    }"
    [topIcon]="{
      icon: 'help-i',
      iconType: 'skyux'
    }"
  >
  </sky-icon-stack>
</div>
