<div
  style="padding: 10px;"
>
  <label
    class="sky-control-label"
  >
    Theme:
    <sky-e2e-theme-selector></sky-e2e-theme-selector>
  </label>
</div>

<input
  [(ngModel)]="normalSearchTerm"
/>
<div
  class="sky-text-highlight-demo"
>
  <div
    [skyHighlight]="normalSearchTerm"
  >
    The text that you enter is highlighted here.
  </div>
  <div
    [skyHighlight]="blankSearchTerm"
  >
    The text that you enter is highlighted here.
  </div>
  <div
    [skyHighlight]="notMatchedSearchTerm"
  >
    The text that you enter is highlighted here.
  </div>
</div>
