<span class="sky-status-indicator">
  <span
    aria-hidden="true"
    class="sky-status-indicator-icon"
    [ngClass]="'sky-status-indicator-icon-' + indicatorType"
  >
    <span
      class="sky-status-indicator-icon-default"
    >
      <sky-icon
        [fixedWidth]="true"
        [icon]="icon"
      ></sky-icon>
    </span>
    <span
      class="sky-status-indicator-icon-modern"
    >
      <sky-icon-stack
        size="xs"
        [baseIcon]="baseIcon"
        [topIcon]="topIcon"
      >
      </sky-icon-stack>
    </span>
  </span>
  <span
    class="sky-status-indicator-message"
  >
    <ng-content></ng-content>
  </span>
</span>
