<sky-docs-demo-control-panel-theme
  (themeSettingsChange)="themeSettingsChange($event)"
></sky-docs-demo-control-panel-theme>

<div
  id="sky-chevron-demo"
>

  <table>
    <tr>
      <th>Icon</th>
      <th>Chevron</th>
    </tr>
    <tr>
      <td>
        <button
          class="sky-btn"
          [skyThemeClass]="{
            'sky-tile-tools-control' : 'default',
            'sky-btn-icon-borderless' : 'modern'
          }"
        >
          <sky-icon
            icon="chevron-up"
            iconType="skyux"
          ></sky-icon>
        </button>
      </td>
      <td>
        <sky-chevron
          direction="up"
        >
        </sky-chevron>
      </td>
    </tr>
    <tr>
      <td>
        <button
          class="sky-btn"
          [skyThemeClass]="{
            'sky-tile-tools-control' : 'default',
            'sky-btn-icon-borderless' : 'modern'
          }"
        >
          <sky-icon
            icon="chevron-down"
            iconType="skyux"
          ></sky-icon>
        </button>
      </td>
      <td>
        <sky-chevron
          direction="down"
        >
        </sky-chevron>
      </td>
    </tr>
  </table>

</div>
