<sky-docs-demo-control-panel-theme
  (themeSettingsChange)="themeSettingsChange($event)"
></sky-docs-demo-control-panel-theme>

<div
  class="sky-status-indicator-visual"
>
  <div>
    <sky-status-indicator
      indicatorType="info"
    >
      Info
    </sky-status-indicator>
  </div>
  <div>
    <sky-status-indicator
      indicatorType="success"
    >
      Success
    </sky-status-indicator>
  </div>
  <div>
    <sky-status-indicator
      indicatorType="warning"
    >
      Warning
    </sky-status-indicator>
  </div>
  <div>
    <sky-status-indicator
      indicatorType="danger"
    >
      Danger
    </sky-status-indicator>
  </div>
</div>
